<div class="footer">
	<p>Made with <span> <i class="fas fa-heart"></i> </span> by <a target="_blank" href="https://github.com/EdwinWalela"><span id="git-link">Edwin Walela</span></a></p>
	<a href="https://newsapi.org"><p>News API</p></a>
	<p>2018</p>
	</div>