*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}
a{
	text-decoration: none;
}
body{
	/*background-color: #f2f2f2;*/
	background-color: tomato;
}

.news-float{
	background-color: #fff;
	margin: 20px  auto;
	width: 90%;
	height: 13em;
	max-width: 700px;
	min-width: 250px;
	padding: 8px;
	border-radius: 8px;
	box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
	transition: all .2s linear;
	overflow: hidden;
}
.news-float:hover{
	transform: scale(1.05);
	height: 14em;
}

.meta{
	float: left;
	clear: both;
	border-radius: 8px;
	text-align: left;
	padding: 5px;
	height: 100%;
	width: 20%;
	min-width: 80px;
	display: inline-block;
}
.meta img{
	border-radius: 5px;
	height: 50%;
	width: 100%;
}
.meta p{
	color: #7f7f7f;
	height:11%;
	padding: 2px;
	line-height: 20px;
	font-size: 0.7em;
}
.meta h1{
	color:#7f7f7f;
	line-height: 25px;
	padding: 2px;
	height:13%;
	font-size: 0.6em;
	text-transform: uppercase;
}

.news-headline{
	text-decoration: underline;
	color:#6e6b7a;
	margin-top: 10px;
	margin-left: 10px;
	clear: both;
	border: solid 0px;
	height: 20%;
	display: inline-block;
	width: 70%;
	font-size: 1em;
	position: relative;
	bottom: 0px;
	letter-spacing: 1.5px;
}

.new-desc{
	min-width: 200px;
	letter-spacing: 1px;
	background-color: rgba(242, 242, 242,0.5);
	color:rgba(0,0,0,0.8);
	font-size: 0.9em;
	padding: 10px;
	float: right;
	text-align: justify;
	width: 80%;
	line-height: 1.3em;
	overflow: hidden;
	height: 60%;
}

.read-more{
	clear: both;
	height: 1em;
	width: 15%;
	float: right;
	position: relative;
	bottom: 20px;
	font-size: 0.8em;
	background-color: tomato;
	text-align: center;
	padding: 10px;
	line-height: 2px;
	color:#fff;
	margin-right: 5px;
	border-radius: 5px;
}






