<!DOCTYPE html>
<html>
	<head>
		<title>News Co.</title>
		<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content=#78C0A8>
		<link href='/public/style.css'  rel='stylesheet' type="text/css" />
		<link href="https://fonts.googleapis.com/css?family=Open+Sans:400italic" rel="stylesheet">
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css" integrity="sha384-3AB7yXWz4OeoZcPbieVW64vVXEwADiYyAEhwilzWsLw+9FgqpyjjStpPnpBO8o8S" crossorigin="anonymous">
	</head>
	<body>
	<div class="jumbo">
		<h1 class="heading">News co.</h1>
			<div id="widget"></i></div>
			<div id="time"></div>
	</div>
	<div class="live-runner">
		<div class="marquee">
			<p class="p"> || LIVE ||</p>	
			<%data[1][0].articles.forEach(data =>{%>
				<a href=<%=data.url%>><p class="p"> | <%=data.title%> |</p></a> 
			<%})%>
		</div>
	</div>
	<p id="quote">Quote of the day:</p>
	<blockquote>
		<%=data[0].quote%>
		<span><%=data[0].author%></span>
	</blockquote>
	<div class="grid"> 
	<a href="/feed?source=crypto-coins-news"><img src="https://preview.ibb.co/hvqQpn/mashable.jpg" alt="mashable"></a>
	<a href="/feed?source=techradar"><img src="https://image.ibb.co/kGiMC7/techradar.jpg" alt="techradar"></a>
	<a href="/feed?source=mtv-news-uk"><img src="https://image.ibb.co/eUR2Kn/mtv.png" alt="mtv"></a>
	<a href="/feed?source=cnn"><img src="https://image.ibb.co/dJH3QS/cnn.jpg" alt="cnn"></a>
	<a href="/feed?source=mashable"><a href="https://imgbb.com/"><img src="https://image.ibb.co/h6zYQS/mashable.png" alt="mashable" border="0"></a>
</a>
	<a href="/feed?source=new-scientist"><img src="https://preview.ibb.co/i0qZX7/nescientist.jpg" alt="nescientist"></a>
	<a href="/feed?source=bbc-sport"><img src="https://preview.ibb.co/nLx3QS/bbcsport.png" alt="bbcsport"></a>
	<a href="/feed?source=national-geographic"><img src="https://preview.ibb.co/f3cnkS/natgeo.jpg" alt="natgeo"></a>
	<a href="/feed?source=engadget"><img src="https://preview.ibb.co/mrJ4X7/engadget.jpg" alt="engadget"></a>
	</div>
	<script>
		var greeting;
		var days = ['Sunday-Funday','Monday-Blues','Tuesday-Transformaion','Wednesday-workout','TBT','FeelGood-Friday','Saturday-Nights']
		var now=new Date();var day=now.getDay();var today=days[day];var hour=now.getHours();
		if(hour >= 18){greeting = 'Good Evening!'}else
		if(hour >=12){greeting = 'Good Afternoon!'}else
		{greeting = 'Good Morning!'}
		var el = document.getElementById('widget');var elday=document.getElementById('time');
		el.innerHTML = '<p>'+greeting+'</p>';elday.innerHTML = '<p>'+today+' :)</p>'
	</script>
	<% include partials/footer.ejs %>
	</body>
</html>






























